# Utils

> Various utilities

In [ ]:
#| default_exp utils

In [ ]:
#| hide
from nbdev.showdoc import *
from nbdev.cli import *

%load_ext autoreload
%autoreload 2

In [ ]:
#| export
import pandas as pd
import numpy as np
from typing import Tuple, Dict, Callable

In [ ]:
#| export
def select_rows(df:pd.DataFrame, #  DataFrame whose rows should be selected
                where:Dict[str, Callable], # Pandas columns as keys & predicates as values.
               ) -> pd.DataFrame:
    "When passed to Pandas pipe, perform row selection given multiple predicates"
    df = df.copy()
    for col, f in where.items():
        df = df[df[col].apply(f)]
    return df

For instance, given the `pd.DataFrame` below:

In [ ]:
df  = pd.DataFrame({'col1': [1,2,3,4], 'col2': [11, 12, 13, 14]}); df

   col1  col2
0     1    11
1     2    12
2     3    13
3     4    14

Allow rows selection based on multiple criteria:

In [ ]:
df.pipe(select_rows, 
        {'col1': lambda d: d > 1, 'col2': lambda d: not(d % 2)})

   col1  col2
1     2    12
3     4    14